<!DOCTYPE html>
<html>
<head>
	<title></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<div id='login'>
	<% if flash[:message] %>
	     <div class='logout_flashMsg'><%= flash[:message] %><a href="./new">X</a></div>
	<% end%>

<div id='logo'>Clonblr</div>

<%= form_tag(login_path) do %>
<div><%= text_field_tag :username, nil, placeholder:'username', class: "input"%></div>
<div><%= text_field_tag :password, nil, placeholder:'password', class: "input" %></div>
<%= submit_tag 'Login', :class => 'user_login' %>

<div class='corner'><a href="/users/new">Sign Up</a></div>

<% end %>

</div>
</body>
</html>




