<h1>Users detail</h1>
<div><%= @user.username %></div>
<div><%= @user.email %></div>
<div><a href="/users/<%=@user.id%>/edit">Edit</a></div>

<!-- <div><a href="/users/<%=@user.id%>/delete">Delete</a></div> -->

<h2>update user</h2>
 <%= form_for @user do |f| %>
 Username:<%= f.text_field :username %><br>
 Email:<%= f.text_field :email %><br>
 Password:<%= f.text_field :password %><br>
 <%= f.submit "save" %>
  <% end %>



 <%= form_tag("/users/#{@user.id}/delete", method: "post") do %>
    <%= submit_tag("Delete") %>
 <% end %>

