<h1>Users detail</h1>
<div><%= @user.username %></div>
<div><%= @user.email %></div>
<div><a href="/users/<%=@user.id%>/edit">Edit</a></div>


<%= form_tag(user_path, method: "delete") do %>
    <%= submit_tag("Delete Account") %>
 <% end %>


<h2>update user</h2>
 <%= form_for @user do |f| %>
 Username:<%= f.text_field :username %><br>
 Email:<%= f.text_field :email %><br>
 Password:<%= f.text_field :password %><br>
 <%= f.submit "save" %>
  <% end %>


<h2>Create a new post</h2>
<%= form_for @post do |f|%>
    <div><%= f.text_field :title,  placeholder: "title" %></div>
    <div><%= f.text_area :content, placeholder: "content" %></div>
    <div><%= f.text_field :tag, placeholder: "tag" %></div>
    <div><%= f.submit("Create") %>
 <% end %>


<h1>User's post</h1>

<% @posts.each do |p| %> 
<div><a href="/posts/<%=p.id%>"><%= p.title %></a></div>
<div>--------------</div>
<% end%>







