<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <div id='profileWapper'> 
    <div class='profile_column' id='profile_info'>
      <div><img src="../../assets/photo.png" width='200px' height="200px"></div>
      <div id='Username'><%= @user.username %></div>
      <div id='Useemail'><%= @user.email %></div>
      <% if logged_in? %>
        <%if current_user.id == @user.id %>
        <div id='update_user'><img src="../../assets/setting.png" width='20px' height="20px"></div>
        <div id='hidden_user_update'>
          <div id='hidden_user_update_bg'>
            <div id='hidden_user_update_form'>
          <%= form_for @user do |f| %>
          <div id='change_text'>Change your info</div>
          <div>Username:</div>
          <div><%= f.text_field :username, class: 'update_input' %></div>
          <div>Email:</div>
          <div><%= f.text_field :email, class: 'update_input'%></div>
          <div>Password:</div>
            <div><%= f.text_field :password, class: 'update_input'%></div>
          <div id='cancel_botton'>Cancel</div>
          <%= f.submit "Save", class: 'update_botton' %>
          <% end %>
          
          <%= form_tag(user_path, method: "delete") do %>
          <%= submit_tag("Delete Account", :class=>"delete_botton")%>
          
          <% end %>
        </div>
        </div>
        </div>  
    </div>

    <div class='profile_column' id='profile_posts'>
      <div class='new_post'><img src="../../assets/plus.png" width='25px' height="25px">What's on your mind now?</div>
      <div class='content'>
        <%= form_for @post do |f|%>
          <div><%= f.text_field :title,  placeholder: "title", class: 'post_new_input' %></div>
          <div><%= f.text_area :content, placeholder: "content", class: 'post_new_text' %></div>
          <div><%= f.text_field :tag, placeholder: "tag", class: 'post_new_tag' %></div>
          <div><%= f.submit'Create', class: 'post_create_botton' %></div>
        <% end %>
       <% end %>
      <%end%>
      </div>

<% @posts.each do |p| %>
 <div id='post_wrapper'> 
   
   <div id='post_time'><%= p.created_at.strftime("%a, %b %d, %Y") %></a></div>
   <div id='post_name'><%= p.title %></div>
   <div id='post_text'><%= p.content %></div>
   <div id= 'look'><a href="/posts/<%=p.id%>"><img src="../../assets/look.png" width='25px' height="25px" align="right"></a></div>
 </div>
<% end%>

</div>

<div class='profile_column' id='profile_comments'>
</div>

</div>



</body>
</html>








