<h3>POST</h3>

<div><%= @post.title %></div>
<div><%= @post.content %></div>
<div><%= @post.tag %></div>



<h2>Update a new post</h2>
<%= form_for @post, url: {action: "update"} do |f|%>
    <div><%= f.text_field :title,  placeholder: "title" %></div>
    <div><%= f.text_area :content, placeholder: "content" %></div>
    <div><%= f.text_field :tag, placeholder: "tag" %></div>
    <div><%= f.submit("Save Post") %>
 <% end %>

  <%= form_tag(post_path, method: "delete") do %>
    <%= submit_tag("Delete Post") %>
 <% end %>


 <%#= link_to 'Delete', post_path, method: :delete %>

<hr>

<h2>create a comment</h2>
<%= form_for @comment do |f|%>
    <div><%= f.text_area :message,  placeholder: "message" %></div>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :post_id, :value => @post.id %>
    <div><%= f.submit("Create comment") %>
 <% end %>


